<div data-controller="note-chart" id="main-element">
  <h1 class="font-bold text-4xl">Notes#index</h1>
  <p>Find me in app/views/notes/index.html.erb</p>

  <div id="chart" style="height: 300px;"></div>

  <%= turbo_stream_from :note_chart_data %>

  <input id="note-chart-data" type="hidden" data-note-chart-target="data" value="<%= Note.group_by_day(:created_at).count.to_json %>">
</div>
